/*BaseInfo*/
.base-info {
	display: flex;
    flex-direction: row;
    justify-content: center;
}
.base-info-card {
	width: 500px;
	height: 250px;
	padding-right: 0;
	display: flex;
	flex-direction: row;
}
.base-info-card-base {
	display: flex;
	flex-direction: row;
}
.base-info-card-content {
	width: 150%;
}
div.base-info-user-icon {
	width: 170px;
	height: 170px;
	margin-top: 10px;
}
.base-info-university {
	margin-top: 10px;
}
p.base-info-university-name {
	font-size: 1.2rem;
}
.base-info-user-name {
	/*margin-left: 30px;*/
	margin-top: 20px;
}
div.base-info-links {
	display: flex;
	align-items: flex-start;
	margin-left: 14px;
}
.base-info-links-logo {
	width: 40px;
	height: 40px;
}
@media screen and (max-width: 600px) {
.base-info-card {
	width: 270px;
	height: 430px;
	align-items: center;
	flex-direction: column;
}
.base-info-card-base {
	flex-direction: row;	
	align-items: flex-start;
}
.base-info-user-name {
	margin-left: 55px;
}}
@media screen and (max-width: 375px) {
.base-info-links-logo {
	flex-direction: row;
	margin-left: 180px;
	height: 50px;
}
.logo-facebook {
	margin-top: 23px;
}}