.career {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.career-items {
	display: flex;
	flex-direction: row;
}
.career-item {
	max-width: 350px;
	margin: 10px;
}
.career-item-image {
	height: 200px;
}
@media screen and (max-width: 768px) {
.career-items {
	flex-direction: column;
}}