/*BaseEdit*/
.edits {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	margin-bottom: 50px;
}
.edit-form {
	background-color: #fff;
}
.edit-form-base {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.edit-form-sites {
	display: flex;
	flex-direction: column;
}
.edit-form-site {
	display: flex;
	flex-direction: row;
}
button.edit-form-site-post {
	height: 56px;
    margin-top: 16px;
}
div.edit-form-text-field {
	width: 200px;
	margin: 15px 10px;
}
.edit-form-graduate {
	display: flex;
	flex-direction: column;
	margin-top: 19px;
}
div.edit-form-url-title {
	width: 200px;
	margin: 15px 10px;
}
.edit-form-post-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0px;
}
.edit-form-icon-title {
	color: #868686;
	margin: 0;
}
.edit-form-icon-input {
	position: absolute;
	opacity: 0;
}
div.edit-form-icon-img {
	width: 200px;
	height: 200px;
	margin: 15px;
}
@media screen and (max-width: 439px) {
div.edit-form-text-field {
	width: 100%;
}
.edit-form-url-title {
	width: 50vw;
	margin: 15px 10px;
}}

/*UploadButton*/
.upload-button {
	display: flex;
	align-items: center;
}
.upload-button-wrapper {
	position: relative;
}
.upload-button-progress {
	color: #7FFF00;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -12px;
	margin-left: -12px;
}

/*TodoEdit*/
.edit-form-todo {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.edit-form-todo-card {
	display: flex;
	flex-direction: column;
	margin: 20px;
	background-color: #eee;
	width: 95vw;
}
div.edit-form-todo-delete {
	margin-top: -20px;
}
div.edit-form-todo-card-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.edit-form-todo-card-img {
	width: 40vw;
}
.edit-form-todo-card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.edit-form-todo-card-text-field {
	width: 50vw;
}
div.edit-form-todo-card-tech {
	background-color: #eee;
	width:50vw;
}
.edit-form-todo-card-tech-items {
	width: 100%;
    position: relative;
    overflow: auto;
    max-height: 300px;
}
.edit-form-todo-card-url-title {
	margin: 0px;
}
button.edit-form-todo-card-delete {
	padding: 0px 0px;
}
.edit-form-todo-card-grid-new {
	width: 282px;
	height: 180px;
}
.edit-form-todo-card-grid-delete {
	position: absolute;
	top: -7vh;
	z-index: 1;
}
@media screen and (max-width: 690px) {
div.edit-form-todo-card-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.edit-form-todo-card-text-field {
	width: 80vw;
}
div.edit-form-todo-card-tech {
	width: 80vw;
}
.edit-form-todo-card-img {
	width: 90vw;
}}
@media screen and (max-width: 564px) {
.edit-form-todo-card-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.edit-form-todo-card-text-field {
	width: 90vw;
}
div.edit-form-todo-card-tech {
	width: 90vw;
}}

/*SkillEdit*/
.edit-form-skill {
	width: 100vw;
	overflow-x: auto;
	background-color: #eee;
}
.edit-form-skill-table {
	min-width: 400px;
}
td.edit-form-skill-star {
	padding: 0px;
}
button.edit-form-skill-star-button {
	margin: 0px;
	padding: 0px;
	width: 20px;
	height: 20px;
	background-color: #eee;
	box-shadow: none;
}
.edit-form-skill-star-item {
	display: flex;
	flex-direction: row;
}
th.edit-form-skill-language {
	width: 20vw;
	padding-right: 10px;
}
td.edit-form-skill-comment {
	width: 20vw;
	padding-left: 10px;
}
div.edit-form-skill-text-field {
	margin: 0px;
	padding-right: 0px;
	width: 30vw;
}

/*HistoryEdit*/
.edit-form-histories {
	width: 100vw;
	background-color: #fff;
    overflow-x: auto
}
th.edit-form-history-id {
	text-align: left;
	width: 70px;
	padding-right: 0px;
}

/*CareerEdit*/
.edit-form-career {
	width: 100vw;
	background-color: #fff;
}
.edit-form-career-card {
	margin: 20px;
	background-color: #eee;
	height: 60vh;
	/*background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url("./images/now.jpg");*/  /* 背景画像指定 */
	background-size: cover;
	background-repeat:  no-repeat;
	background-position: center;
}
.edit-form-now {
	background-image: url("./images/now.jpg");
}
.edit-form-near {
	background-image: url("./images/next.jpg");
}
.edit-form-future {
	background-image: url("./images/future.jpg");
}
.edit-form-career-card-div {
	background: rgba(255, 255, 255, 0.6);
	height: 60vh;
}
.edit-form-career-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}
div.edit-form-career-card-content {
	padding: 0 10px;
}