div.sign-in {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px;
}
.sign-in-paper {
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.sign-in-form {
	width: 100%;
	display: flex;
	flex-direction: column;

}
.sign-up-form-error {
	font-size: 0.5rem;
	color: #dc143c;
	margin-bottom: 0;
}
div.sign-in-form-password {
	margin-top: 0;
}
.other-login {
	margin: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.other-login-item {
	margin: 5px;
}


/*Sign Up*/