.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.skill-items {
  width: 100%;
  flex: 1;
}
.skill-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
.skill-item-mobile {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.skill-item-lang {
  color: #fff;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.skill-item-star {
  flex-wrap: nowrap;
}
.skill-item-comment {
  display: flex;
  color: #fff;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5vw;
  font-size: 20px;
}

@media screen and (max-width: 650px) {
.skill-item-comment {
  margin-left: 0vw;
}}
@media screen and (max-width: 620px) {
.skill-item {
  display: flex;
  flex-direction: column;
}
.skill-item-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skill-item-lang {
  margin-right: 10vw;
}}
@media screen and (max-width: 350px) {
.skill-item-star-img {
  width: 40px;
  height: 40px;
}}
@media screen and (min-width: 1441px) {
h2.skill-item-lang {
  font-size: 50px;
}
.skill-item-comment {
  font-size: 50px;
}
.skill-item-star-img {
  width: 80px;
  height: 80px;
}}