/*TodoCardItems*/
.todo-card-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #fff;
}
.todo-card-items-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*TodoCard*/
.todo-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.todo-card-card {
  max-width: 400px;
  flex-direction: column;
}
div.todo-card-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
.todo-card-media-img {
  height: 255px;
  display: block;
  max-width: 400px;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}
.todo-card-actions {
  display: flex;
  justify-content: space-between;
}
label.MuiFormControlLabel-root-145 {
  margin-right: -5px;
  margin-left: 0px;
  margin-top: 0px;
}
.todo-card-tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.todo-card-tech-item {
  margin-right: 30px;
}
@media screen and (max-width: 420px) {
.todo-card-card {
  width: 18rem;
}}