/*TodoCard*/
.todo-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.t-card {
  max-width: 400px;
  flex-direction: column;
}
.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
.gridList {
  flex-wrap: nowrap;
  transform: translateZ(0);
}
.actions {
  display: flex;
  justify-content: space-between;
}
.MuiFormControlLabel-root-140 {
  margin-right: -5px;
  margin-left: 0px;
  margin-top: 0px;
}
.develop-tech {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}